*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock
/berks-cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

# RSpec Output
build/*

# Test Kitchen
.kitchen/
.kitchen.local.yml

# IntelliJ IDEA
.idea
